@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* default mobile root size */
  html {
    font-size: 14px;    /* <-- everything sized in rem will scale off this */
  }
  /* from “sm” (640px) up, use a bigger root */
  @screen sm {
    html {
      font-size: 18px;
    }
  }
}


/* Apply Montserrat to all headings */
 h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  color: #6bb836;
  font-size: 1.5rem;

}

h1{
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;
  color: #6bb836;
}

/* Apply Roboto to body text */
body, text {
  font-family: 'Roboto', sans-serif;
  color: #676662;
  font-size: 1rem;
}


p {
  font-family: 'Roboto', sans-serif;
  color: #676662;
  font-size: 1rem;
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
